<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="persistence.repos.actors" class="pl.edu.agh.integr10s.persistence.db.ActorsRepositoryImpl" scope="singleton"/>
    <bean id="persistence.repos.worlds" class="pl.edu.agh.integr10s.persistence.db.WorldsRepositoryImpl" scope="singleton"/>
    <bean id="persistence.repos.planing" class="pl.edu.agh.integr10s.persistence.db.PlanningRepositoryImpl" scope="singleton"/>

</beans>