<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="persistence.repos.actors" class="pl.edu.agh.integr10s.persistence.db.ActorsRepositoryImpl" scope="singleton"/>
    <bean id="persistence.repos.worlds" class="pl.edu.agh.integr10s.persistence.db.WorldsRepositoryImpl" scope="singleton"/>
    <bean id="persistence.repos.planing" class="pl.edu.agh.integr10s.persistence.db.PlanningRepositoryImpl" scope="singleton"/>


    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="url" value="jdbc:derby:data;create=true"/>
        <property name="username" value="application"/>
        <property name="password" value="password"/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

    <tx:annotation-driven />
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="daos.test" class="pl.edu.agh.integr10s.persistence.db.dao.TestDAO">
        <constructor-arg>
            <ref bean="sessionFactory"/>
        </constructor-arg>
    </bean>

</beans>